-# vim: filetype=javascript
:javascript
  var POLLPERIOD=60000; //one minute
  $(function(){
      //comment post toggles
      $('.comment-post-form').collapse({toggle:false})
      $('.comment-post-header').click(function(){
          $(this).siblings('.comment-post-form').collapse('toggle')
      })

      //turn text into links
      $('.linkify').each(function(){
          embed($(this))
          $(this).html(text_to_link($(this).html()));
      })

      pollLatest();
  })

  function text_to_link(text) {
    if(text){
      var exp = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig
      return text.replace(exp,"<a href='$1' target='_blank'>$1</a>")
    }else{
      return "";
    }
  }

  function pollLatest(){
    //submit an ajax request
    var lp = $('#latest-post').html();
    var lc = $('#latest-comment').html();
    $.ajax({
        url: "/latest/#{@forum.sid}?latest_post="+lp+"&latest_comment="+lc,
        dataType: 'json',
        type: 'GET',
        success: function(d,s,x){
          if(!d.has_error){
            if(d.out_of_date){
              $('#newstuff').slideDown();
            }else{
              setTimeout(pollLatest, POLLPERIOD)
            }
          }else{
            console.log("polling error");
          }
        },
    })
      
  }

  function embed(obj){
    var t = obj.html();
    var embedCode=null;
    var h=0;
    //youtube
    var m = t.match(/youtube.com\/watch[^?]*?([^#]*)/)
    if(m){
      var vid = getArg(m[1], 'v')
      if(vid){
        embedCode='<iframe width="560" height="315" src="http://www.youtube.com/embed/'+vid+'?wmode=transparent" frameborder="0" allowfullscreen></iframe>'
        h=315;
      }
    }
    //TODO more embeds!

    //TODO probably don't want to embed on mobile
    if(embedCode){
      var embed = obj.siblings('.embed-hook')
      embed.append(embedCode)
      embed.css('height', h);
    }
  }

  function getArg(a, s){
    var args = a.split("&")
    for(var i=0; i<args.length; i++){
      var m = args[i].match(/([^=])=(.*)/)
      if(m){
        if(m[1]==s){
          return m[2];
        }
      }
    }
  }
