-# vim: filetype=javascript
:javascript
  var POLLPERIOD=60000; //one minute
  $(function(){
      //comment post toggles
      $('.comment-post-form').collapse({toggle:false})
      $('.comment-post-header').click(function(){
          $(this).siblings('.comment-post-form').collapse('toggle')
      })

      //turn text into links
      $('.linkify').each(function(){
          $(this).html(text_to_link($(this).html()));
      })

      pollLatest();
  })

  function text_to_link(text) {
    if(text){
      var exp = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig
      return text.replace(exp,"<a href='$1' target='_blank'>$1</a>")
    }else{
      return "";
    }
  }

  function pollLatest(){
    //submit an ajax request
    var lp = $('#latest-post').html();
    var lc = $('#latest-comment').html();
    $.ajax({
        url: "/latest/#{@forum.sid}?latest_post="+lp+"&latest_comment="+lc,
        dataType: 'json',
        type: 'GET',
        success: function(d,s,x){
          if(!d.has_error){
            if(d.out_of_date){
              $('#newstuff').slideDown();
            }else{
              setTimeout(pollLatest, POLLPERIOD)
            }
          }else{
            console.log("polling error");
          }
        },
    })
      
  }

