<form id="invite-form">
  <label>Enter email address separated by commas, semicolons, or enters</label>
  <div>
    <textarea id="addresses" data-placement="right"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Invite!</button>
  <span class="during-load"><img src="/images/loading.gif"></span>
  <span class="after-load">Invites sent.</span>
</form>
