-content_for :scripts do
  =render "forums/show_scripts"
-forum_name_header(@forum.title)

#newstuff.alert.fade.in.alert-info.hide{'data-alert'=>"alert"}
  %a.close(href="#" data-dismiss="alert") &times;
  Hey! there is new stuff posted, you should refresh the page!
.row-fluid
  .span1
  .span11
    .pull-right
      %a(href="#bookmarklet-modal" data-toggle="modal") Click me to learn about bookmarklets and other sharing tools
    %h1
      =@forum.title
      %small
        ="(#{@forum.posts.count} posts)"
    -#new post
    #create-post-box
      %h2
        %a#postheader(data-toggle="collapse" data-target="#create-post-area") Post a message...
      #create-post-area.collapse
        =twitter_bootstrap_form_for(@post, :url=>post_create_path(@forum.sid)) do |f|
          =f.inputs  do
            =f.hidden_field :name, :value=>"Gustav", :class=>"name"
            =f.text_area :content, false, :rows=>3, :cols=>80, :placeholder=>"Post something here"
            =f.text_area :comment, false, :rows=>3, :cols=>80, :placeholder=>"Add your comments here"
          =f.actions do
            =f.submit "Post!"
-#bookmarklet modal stuff
#bookmarklet-modal.modal.hide.fade.in
  .modal-header 
    %a.close(data-dismiss="modal") &times;
    %h2 Bookmarklets and stuff!
  .modal-body
    %h3 Bookmarklet! 
    %a.bookmarklet{:href=>bookmarklet(@forum.sid)} #{GlobalSettings.site_name}:#{@forum.title}
    (drag this link to your bookmarks bar, then click to share from any web page)
    %h3 Share from reader
    %ul
      %li In reader, go to Reader Settings
      %li Click the "Send To" tab
      %li Click "Create a custom link" at the bottom
      %li Paste this URL in the "URL" field (make sure you have filled in your name above)
      %li
        %span.reader-url=(GlobalSettings.app_protocol+GlobalSettings.app_domain+post_create_get_path(@forum.sid)+"?post[name]=<span id='username-uri'></span>&post[content]=${title}%0A%0A${url}").html_safe


.row-fluid
  .span1
  .span11
    -@posts.each do |p|
      .post-area
        .post
          .name=p.name
          -if(p.comment.present?)
            .comment
              =filter_format(p.comment)
          .content.linkify
            -#=h(p.content).gsub(/\n/, "<br>").html_safe
            =filter_format(p.content)
        .comments
          -#.comments-header 
            %strong Comments
          -p.comments.each do |c|
            .comment
              %span.name="#{c.name}: "
              %span.text.linkify=filter_format(c.content)
          .comment-post-box
            %a.comment-post-header Post a comment...
            .comment-post-form.collapse
              =form_tag comment_create_path(@forum.sid, p.id) do
                =hidden_field_tag "comment[name]", "Gustav", :class=>"name"
                =text_area_tag "comment[content]", "", :rows=>3, :cols=>80, :placeholder=>"Post a comment", :class=>"span5"
                =submit_tag "Post!", :class=>"btn"

#latest-post.hide=@latest_post_id
#latest-comment.hide=@latest_comment_id
