<div class="subscribe-area pull-right"></div>
<div class="users-area pull-right"><a id="launch-users" class="btn" data-toggle="modal" data-target="#users-modal" href="#" >People</a></div>
<h1 class='forum-title'>
  Loading...
</h1>

<div id="users-modal" class="modal hide fade in">
  <div class="modal-header">
    <h3>Subscribers</h3>
  </div>
  <div class="modal-body">
  </div>
</div>

