<%if(subscribed){%>
  <a id="launch-invite" class="btn btn-warning" data-toggle="modal" data-target="#invite-modal" href="#" >Invite</a>
  <a href="#" id="unsubscribe" class="btn">Unsubscribe</a>
<%}else{%>
  <a href="#" id="subscribe" class="btn">Subscribe</a>
<%}%>
