<div class='comment-post-box'>
  <a class='comment-post-header' href='#'>Post a comment...</a>
  <div class='comment-post-form collapse'>
    <form>
      <textarea class="span11" cols="80" id="content" name="comment[content]" placeholder="Post a comment" rows="3"></textarea>
      <input class="btn" name="commit" type="submit" value="Post!" />
      <img src="/images/loading.gif" id="load-img"></img>
    </form>
  </div>
</div>
