<div class='comment-post-box'>
  <a class='comment-post-header'>Post a comment...</a>
  <div class='comment-post-form collapse'>
    <form>
      <input class="name" id="comment_name" name="comment[name]" type="hidden" value="Gustav" />
      <textarea class="span11" cols="80" id="comment_content" name="comment[content]" placeholder="Post a comment" rows="3"></textarea>
      <input class="btn" name="commit" type="submit" value="Post!" />
    </form>
  </div>
</div>
