<div class='comment'>
  <span class='name'><%=comment.escape("name")%></span>
  <span class="date-delta"><%=convDate(comment.escape("timestamp"))%></span>: 
  <span class='text linkify'><%=comment.escape("content")%></span>
</div>
