      <table style="
        width:100%;
        margin-top:30px;
        ">
        <tr>
          <td style="
            border-top:solid 1px #aaa;
            ">
            You can change your email preferences <a href="<%=GlobalSettings.app_protocol+GlobalSettings.app_domain+"/#users/#{@user.sid}"%>">here</a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>

