<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      /* Client-specific Styles */
      body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
      body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */
      body{
				background-color:yellow;
        color:red;
			}
    </style>
  </head>
  <body>
    <h1>Welcome to <%=GlobalSettings.site_name%>, <%= @user.name %></h1>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>

