<form action="/users/genreset">
  <h3>Enter your email address below</h3>
  <input type="email" id="email"></input>
  <button type="submit" class="btn">Reset</button>
  <img src="/images/loading.gif" class="during-load">
  <span class="after-load">We sent a reset link to your email</span>
</form>
