<div id="home-bg"></div>
<div class="container">
  <div id="home-container">
    <span id="hp-title"><%=GlobalSettings.site_name%></span>
    <h3 id="hp-subtitle">Share the internet with your friends</h3>
    <h3> Create a new Fread!</h3>
    <form class="homepage" id="create">
      <input type='text' name='title' id='title' placeholder='Give it a title'>
      <input type='submit' class='btn-warning' value='Create!'></input>
    </form>
  </div>
</div>
