<h1>
  Welcome to Freeder
  <small>a site for sharing the internet with your friends</small>
</h1>

<h3> Create a new Freed!</h3>
<form>
  <input type='text' name='title' id='title' placeholder='Give it a title'>
  <input type='submit' class='btn-warning' value='Create!'></input>
</form>
<h3>
  Your recent Freeds
  <ul id='recent'></ul>
</h3>

