<div class="container">
  <h1>
    Welcome to Freader
    <small>a site for sharing the internet with your friends</small>
  </h1>

  <h3> Create a new Fread!</h3>
  <form id="create">
    <input type='text' name='title' id='title' placeholder='Give it a title'>
    <input type='submit' class='btn-warning' value='Create!'></input>
  </form>
  <h3>
    Your recent Freads
    <ul id='recent'></ul>
  </h3>
</div>
