<div id="home-bg"></div>
<div class="container">
  <div id="home-container">
    <span id="hp-title"><%=GlobalSettings.site_name%></span>
    <h3 id="hp-subtitle">Share the internet with your friends</h3>

    <div class="row">
      <div class="span4" id="sign-in-area"></div>
      <div class="span4" id="sign-up-area"></div>
    </div>
  </div>
</div>
