-content_for :scripts do
  :javascript
    $(function(){
        if(localStorage.cached_urls){
          var a = JSON.parse(localStorage.cached_urls)
          a.forEach(function(e){$('ul#recent').append('<li><a href="/'+e[0]+'">'+e[1]+'</a></li>')})
        }
    })

%h1 
  Welcome to #{GlobalSettings.site_name}
  %small A site for reading the internet with your friends

%h3 Create a new Freed!
=form_for(@forum, :url=>spawn_path) do |f|
  =f.text_field :title, :placeholder=>"Give it a title!"
  =f.submit "Create!", :class=>"btn-warning"

%h3 
  Your recent Freeds
  %ul#recent

