.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .row-fluid
        .span2
          = link_to GlobalSettings.site_name, root_path, :class=>'brand'
        .forum-title.span5
          &nbsp;
          =yield :forum_name
        .bookmarklet-link.span2
          %a(href="#bookmarklet-modal" data-toggle="modal") Get the bookmarklet
        #user-credentials.span2
      -#unless GlobalSettings.deployment == "live"
        #deployment.label.warning= GlobalSettings.deployment

-#bookmarklet modal holder
#bookmarklet-modal.modal.hide.fade.in
