.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .row-fluid
        .span2
          = link_to GlobalSettings.site_name, root_path, :class=>'brand'
        .span8
          &nbsp;
          =yield :forum_name
        .span2
          %form
            %input#name(type="text" placeholder="Enter your name")
      -#unless GlobalSettings.deployment == "live"
        #deployment.label.warning= GlobalSettings.deployment

