:javascript
  GlobalSettings={};
  GlobalSettings.app_domain= "#{GlobalSettings.app_domain}";
  GlobalSettings.deployment= "#{GlobalSettings.deployment}";
  GlobalSettings.version   = "#{GlobalSettings.version}";
  
