:javascript
  GlobalSettings={};
  GlobalSettings.site_name  = "#{GlobalSettings.site_name}";
  GlobalSettings.app_domain = "#{GlobalSettings.app_domain}";
  GlobalSettings.deployment = "#{GlobalSettings.deployment}";
  GlobalSettings.version    = "#{GlobalSettings.version}";
  
