= include_javascripts :common
-if GlobalSettings.mixpanel_enabled
  = render 'layouts/mixpanel'
-else
  :javascript
    mpq={track:function(){},identify:function(){}}
-if GlobalSettings.google_analytics_enabled
  = render 'layouts/google_analytics'
= yield :scripts
