<div class='modal-header'>
  <a class='close' data-dismiss='modal'> &times;</a>
  <h2> Bookmarklets and stuff! </h2>
</div>
<div class='modal-body'>
  <h3>Bookmarklet!</h3>
  <a href='/bookmarklet?sid=<%=sid%>' class='bookmarklet'>Freeder:<%=title%></a>
  (drag this link to your bookmarks bar, then click to share from any web page)
  <p>
    Note: If it doesn't work in youtube in Chrome, you need to uninstall the youtube chrome app.
  </p>
</div>
